.margin{
	margin-left: 500px;
	margin-right: 485px;
}
.padding1{
	padding-left: 140px;
}
.height1{
	height: 180px;
}

.form-group{

	color: #FFFFFF    ;
}
.height{
	height: 180px;
	margin-left: 500px;
	margin-right: 485px;
}


